<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="obj" class="com.simplilearn.demo.HelloWorld"></bean>

	<!-- creating marks object -->
	<bean id="m" class="com.simplilearn.demo.Marks">
		<property name="phy" value="95"></property>
		<property name="chem" value="90"></property>
		<property name="maths" value="99"></property>
	</bean>
	
	<!-- creating student object -->
	<!-- injected the dependency with the help of setter method -->
	<bean id="s1" class="com.simplilearn.demo.Student">
		<property name="id" value="1"></property>
		<property name="name" value="Nikunj Soni"></property>
		<property name="marks" ref="m"></property>
	</bean>

</beans>